<!DOCTYPE html>
<html>
<body>

<h2>Welcome to Friend List App 2020!</h2><br />

<div class="container">
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
Questo è solo una prova per vedere l'immagine di background!<br>
</div>

</body>
</html>

